<a href="https://colab.research.google.com/github/TassioGama/GTI-tassiogama/blob/main/Regress%C3%A3oLogisticaTitanicML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
#Importando Bibliotecas
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import math

In [21]:
#Importando DataFrames
url = 'https://github.com/gustavowillam/ML/blob/main/trabalhos/2022/Trab2/train.csv?raw=true'
df = pd.read_csv(url)
url='https://github.com/gustavowillam/ML/blob/main/trabalhos/2022/Trab2/test.csv?raw=true'
df_teste = pd.read_csv(url)

In [22]:
#Informações do DataSet
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [23]:
#Número de linhas e colunas
df.shape

(891, 12)

In [24]:
#Correlação entre colunas
df.corr()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
PassengerId,1.000000,-0.005007,-0.035144,0.036847,-0.057527,-0.001652,0.012658
Survived,-0.005007,1.000000,-0.338481,-0.077221,-0.035322,0.081629,0.257307
Pclass,-0.035144,-0.338481,1.000000,-0.369226,0.083081,0.018443,-0.549500
Age,0.036847,-0.077221,-0.369226,1.000000,-0.308247,-0.189119,0.096067
SibSp,-0.057527,-0.035322,0.083081,-0.308247,1.000000,0.414838,0.159651
Parch,-0.001652,0.081629,0.018443,-0.189119,0.414838,1.000000,0.216225
Fare,0.012658,0.257307,-0.549500,0.096067,0.159651,0.216225,1.000000

In [25]:
#Somando valores nulos
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [26]:
#Tirando média da Idade e substituindo aonde os valores são nulos
mediaidade = df['Age'].mean()
mediaidade = math.floor(mediaidade)
df.update(df['Age'].fillna(mediaidade))
print(mediaidade)
mediaidade = df_teste['Age'].mean()
mediaidade = math.floor(mediaidade)
df_teste.update(df['Age'].fillna(mediaidade))
print(mediaidade)

29
30

In [27]:
#Tirando mediana da coluna Embarked e substituindo aonde os valores são nulos
medianaembarked = df['Embarked'].value_counts()
print(medianaembarked)
df.update(df['Embarked'].fillna('S'))
medianaembarked = df_teste['Embarked'].value_counts()
df_teste.update(df_teste['Embarked'].fillna('S'))

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [28]:
#Drop coluna Name pois é irrelevante
df = df.drop(columns=['Name'])
df = df.drop(columns=['Fare'])
df = df.drop(columns=['Ticket'])
df = df.drop(columns=['Parch'])
df = df.drop(columns=['SibSp'])

df_teste = df_teste.drop(columns=['Name'])
df_teste = df_teste.drop(columns=['Fare'])
df_teste = df_teste.drop(columns=['Ticket'])
df_teste = df_teste.drop(columns=['Parch'])
df_teste = df_teste.drop(columns=['SibSp'])

In [29]:
#Transformar variáveis categóricas em numéricas
def convert_cat(df,col):
    """
    input: dataframe and col list of categorical columns
    output: dataframw with numerical values
    """
    for c in col:
        item_list = df[c].unique().tolist()
        enum=enumerate(item_list)
        d = dict((j,i) for i,j in enum)
        print(c)
        print(d)
        
        df[c].replace(d, inplace=True)
    return df

In [30]:
dtypes = df.dtypes.to_dict()      

for col_name, typ in dtypes.items():
    if (typ == 'object'): 
        print(col_name, type)
        convert_cat(df,[col_name])

dtypes = df_teste.dtypes.to_dict() 
for col_name, typ in dtypes.items():
    if (typ == 'object'): 
        print(col_name, type)
        convert_cat(df_teste,[col_name])

Sex <class 'type'>
Sex
{'male': 0, 'female': 1}
Cabin <class 'type'>
Cabin
{nan: 0, 'C85': 1, 'C123': 2, 'E46': 3, 'G6': 4, 'C103': 5, 'D56': 6, 'A6': 7, 'C23 C25 C27': 8, 'B78': 9, 'D33': 10, 'B30': 11, 'C52': 12, 'B28': 13, 'C83': 14, 'F33': 15, 'F G73': 16, 'E31': 17, 'A5': 18, 'D10 D12': 19, 'D26': 20, 'C110': 21, 'B58 B60': 22, 'E101': 23, 'F E69': 24, 'D47': 25, 'B86': 26, 'F2': 27, 'C2': 28, 'E33': 29, 'B19': 30, 'A7': 31, 'C49': 32, 'F4': 33, 'A32': 34, 'B4': 35, 'B80': 36, 'A31': 37, 'D36': 38, 'D15': 39, 'C93': 40, 'C78': 41, 'D35': 42, 'C87': 43, 'B77': 44, 'E67': 45, 'B94': 46, 'C125': 47, 'C99': 48, 'C118': 49, 'D7': 50, 'A19': 51, 'B49': 52, 'D': 53, 'C22 C26': 54, 'C106': 55, 'C65': 56, 'E36': 57, 'C54': 58, 'B57 B59 B63 B66': 59, 'C7': 60, 'E34': 61, 'C32': 62, 'B18': 63, 'C124': 64, 'C91': 65, 'E40': 66, 'T': 67, 'C128': 68, 'D37': 69, 'B35': 70, 'E50': 71, 'C82': 72, 'B96 B98': 73, 'E10': 74, 'E44': 75, 'A34': 76, 'C104': 77, 'C111': 78, 'C92': 79, 'E38': 80, 'D21': 81, 'E12': 82, 'E63': 83, 'A14': 84, 'B37': 85, 'C30': 86, 'D20': 87, 'B79': 88, 'E25': 89, 'D46': 90, 'B73': 91, 'C95': 92, 'B38': 93, 'B39': 94, 'B22': 95, 'C86': 96, 'C70': 97, 'A16': 98, 'C101': 99, 'C68': 100, 'A10': 101, 'E68': 102, 'B41': 103, 'A20': 104, 'D19': 105, 'D50': 106, 'D9': 107, 'A23': 108, 'B50': 109, 'A26': 110, 'D48': 111, 'E58': 112, 'C126': 113, 'B71': 114, 'B51 B53 B55': 115, 'D49': 116, 'B5': 117, 'B20': 118, 'F G63': 119, 'C62 C64': 120, 'E24': 121, 'C90': 122, 'C45': 123, 'E8': 124, 'B101': 125, 'D45': 126, 'C46': 127, 'D30': 128, 'E121': 129, 'D11': 130, 'E77': 131, 'F38': 132, 'B3': 133, 'D6': 134, 'B82 B84': 135, 'D17': 136, 'A36': 137, 'B102': 138, 'B69': 139, 'E49': 140, 'C47': 141, 'D28': 142, 'E17': 143, 'A24': 144, 'C50': 145, 'B42': 146, 'C148': 147}
Embarked <class 'type'>
Embarked
{'S': 0, 'C': 1, 'Q': 2}
Sex <class 'type'>
Sex
{'male': 0, 'female': 1}
Cabin <class 'type'>
Cabin
{nan: 0, 'B45': 1, 'E31': 2, 'B57 B59 B63 B66': 3, 'B36': 4, 'A21': 5, 'C78': 6, 'D34': 7, 'D19': 8, 'A9': 9, 'D15': 10, 'C31': 11, 'C23 C25 C27': 12, 'F G63': 13, 'B61': 14, 'C53': 15, 'D43': 16, 'C130': 17, 'C132': 18, 'C101': 19, 'C55 C57': 20, 'B71': 21, 'C46': 22, 'C116': 23, 'F': 24, 'A29': 25, 'G6': 26, 'C6': 27, 'C28': 28, 'C51': 29, 'E46': 30, 'C54': 31, 'C97': 32, 'D22': 33, 'B10': 34, 'F4': 35, 'E45': 36, 'E52': 37, 'D30': 38, 'B58 B60': 39, 'E34': 40, 'C62 C64': 41, 'A11': 42, 'B11': 43, 'C80': 44, 'F33': 45, 'C85': 46, 'D37': 47, 'C86': 48, 'D21': 49, 'C89': 50, 'F E46': 51, 'A34': 52, 'D': 53, 'B26': 54, 'C22 C26': 55, 'B69': 56, 'C32': 57, 'B78': 58, 'F E57': 59, 'F2': 60, 'A18': 61, 'C106': 62, 'B51 B53 B55': 63, 'D10 D12': 64, 'E60': 65, 'E50': 66, 'E39 E41': 67, 'B52 B54 B56': 68, 'C39': 69, 'B24': 70, 'D28': 71, 'B41': 72, 'C7': 73, 'D40': 74, 'D38': 75, 'C105': 76}
Embarked <class 'type'>
Embarked
{'Q': 0, 'S': 1, 'C': 2}

In [31]:
#Cria as variáveis independentes e independente
X = df.copy()
X  = X.drop(['Survived'], axis=1) #remove a variável dependente do X
y = df.iloc[:, 1]

In [32]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [33]:
#biblioteca para gerar o modelo 
from sklearn.linear_model import LogisticRegression

In [34]:
#cria uma instancia do modelo 
clf = LogisticRegression()
        
#ajustando o modelo 
clf.fit(X_train, y_train) 
       
y_pred_train = clf.predict(X_train)

#To retrieve the accuracy da classificação:
accuracy_train = clf.score(X_train, y_train)  #mede o score (acuracy) do modelo 
print('Acuracia do Treino:', accuracy_train)

Acuracia do Treino: 0.7879213483146067

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

In [35]:
y_pred_test = clf.predict(X_test)
y_pred_submit = clf.predict(df_teste)

#To retrieve the accuracy da classificação:
accuracy_test = clf.score(X_test, y_test)  #mede o score (acuracy) do modelo 
print('Acuracia do Teste:', accuracy_test)

Acuracia do Teste: 0.8212290502793296

In [36]:
#matriz de confusão 

from sklearn.metrics import confusion_matrix

#matriz de confusão do treinamento 
mc_train = confusion_matrix(y_train, y_pred_train)

In [37]:
resultado = pd.DataFrame()
resultado['PassengerId'] = df_teste["PassengerId"]
resultado['Survived'] = y_pred_submit

In [38]:
resultado1 = resultado.round(1).astype(int)

In [39]:
df_teste_csv = resultado1.to_csv('submissaoRL.csv', index = False)